<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous"/>
    <link th:href="@{/css/registration.css}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body class="container" style="background-color: rgb(247, 247, 247)">

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h3 class="fw-normal mb-5" style="color: #4835d4;"
                                        th:text="#{reg.general_info}"></h3>

                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                <input id="firstName" type="text" class="form-control form-control-lg"/>
                                                <p id="incorrect-firstName" class='my-0 incorrect'
                                                   th:text="#{reg.incorrect-firstName}"></p>
                                                <label class="form-label" for="firstName"
                                                       th:text="#{reg.firstName}"></label>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                <input id="lastName" type="text" class="form-control form-control-lg"/>
                                                <p id="incorrect-lastName" class='my-0 incorrect'
                                                   th:text="#{reg.incorrect-lastName}"></p>
                                                <label class="form-label" for="lastName"
                                                       th:text="#{reg.lastName}"></label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline">
                                            <input id="login" type="text" class="form-control form-control-lg"/>
                                            <p id="incorrect-login" class='my-0 incorrect'
                                               th:text="#{reg.incorrect-login}"></p>
                                            <label class="form-label" for="login" th:text="#{reg.login}"></label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class=" mb-4 pb-2 mb-md-0 pb-md-0">

                                            <div class="form-outline">
                                                <input type="text" id="password" class="form-control form-control-lg"/>
                                                <p id="incorrect-password" class='my-0 incorrect'
                                                   th:text="#{reg.incorrect-password}"></p>
                                                <label class="form-label" for="password"
                                                       th:text="#{reg.password}"></label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 bg-indigo text-white">
                                <div class="p-5">
                                    <h3 class="fw-normal mb-5" th:text="#{reg.contact_details}"></h3>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                            <input type="text" id="email" class="form-control form-control-lg"/>
                                            <p id="incorrect-email" class='my-0 incorrect1'
                                               th:text="#{reg.incorrect-email}"></p>
                                            <label class="form-label" for="email" th:text="#{reg.email}"></label>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                            <input type="text" id="phoneNumber" class="form-control form-control-lg"/>
                                            <p id="incorrect-phoneNumber" class='my-0 incorrect1'
                                               th:text="#{reg.incorrect-phoneNumber}"></p>
                                            <label class="form-label" for="phoneNumber"
                                                   th:text="#{reg.phoneNumber}"></label>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                        <input id="agreedOnTerms" class="form-check-input me-3" type="checkbox"
                                               value=""/>
                                        <label class="form-check-label text-white" for="agreedOnTerms" th:inline="text">
                                            <span th:text="#{reg.iaccept.outer.f}" th:remove="tag"></span><a href="#!"
                                                                                                             class="text-white"><u
                                                th:text="#{reg.iaccept.inner}"></u></a>.
                                        </label>
                                    </div>

                                    <button id="register" type="button" class="btn disabled btn-light btn-lg"
                                            data-mdb-ripple-color="dark" th:text="#{reg.register}"></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" th:src="@{/js/security/registration.js}"></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>
</body>
</html>
