<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="body">
    <div
            class="d-flex container col-6 justify-content-center navbar sticky-top fixed-top"
            style="background-color: rgb(255, 255, 255)"
    >
        <div class="col-10 d-flex flex-column">
            <p class="org_name text-center p-2" th:text="#{greeting}"></p>
        </div>
        <img th:src="@{/img/person.svg}" class="d-block mx-auto profile-link"
             width="35">
    </div>

    <div id="organisations" class="option d-flex container col-6 my-3">
        <div class="d-flex">
            <img th:src="@{/img/people.svg}" class="d-block mx-auto"
                 width="30">
            <p class="p-1 my-3 text-center" th:text="#{organisations}"></p>
        </div>
    </div>

    <div id="profiles" class="option d-flex container col-6 my-3">
        <div class="d-flex">
            <img th:src="@{/img/people.svg}" class="d-block mx-auto"
                 width="30">
            <p class="p-1 my-3 text-center" th:text="#{profiles}">Профили</p>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/home/home.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</th:block>
</body>
</html>