<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <!--    <title th:text="${org.name}"></title>-->
    <link th:href="@{/css/utilities.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />
</head>
<body class="container" style="background-color: rgb(247, 247, 247)">
<div
        class="d-flex container col-6 justify-content-center d-flex navbar sticky-top fixed-top"
        style="background-color: rgb(255, 255, 255)"
>
    <div class="col-2">
        <a th:href="@{../{id}(id=${orgId})}">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="23"
                    fill="currentColor"
                    class="bi bi-arrow-left-circle"
                    viewBox="0 0 16 16"
            >
                <path
                        fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                />
            </svg>
        </a>
    </div>
    <div class="d-flex flex-column col-10">
        <p class="org_name text-center p-2">Услуги</p>
    </div>
</div>

<th:block th:each="utility:${utilities}">
    <div
            class="utility d-flex container-fluid col-6 my-3"
    >
        <a href="#">
            <div class="d-flex flex-column">
                <p th:text="${utility.description}"></p>
            </div>
        </a>
    </div>
</th:block>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>
</body>
</html>
