<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="body">
    <div
            class="d-flex container col-6 justify-content-center navbar sticky-top fixed-top"
            style="background-color: rgb(255, 255, 255)"
    >
        <div class="col-10 d-flex flex-column">
            <p class="org_name text-center p-2" th:text="${org.name}"></p>
            <p class="org_description p-2" th:text="${org.description}"></p>
            <p class="org_address text-center p-2" th:text="${org.address}"></p>
        </div>
        <img th:src="@{/img/person.svg}" class="d-block mx-auto"
             width="35">
    </div>

    <div id="suspended" class="container-fluid mt-3 p-2 h-auto align-middle col-6 d-flex" th:unless="${org.isActive}">
        <div class="col-11" th:text="#{organisation.suspended}"></div>
        <div class="col-1">
            <img th:src="@{/img/info-circle.svg}" class="d-block"
                 width="20px" style="background-color: white; border-radius: 50%" float:right>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         th:unless="${org.isActive}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{organisation.suspended.title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body" th:text="#{organisation.suspended.body}"></div>
            </div>
        </div>
    </div>

    <div class="select-master-redactor option d-flex container col-6 my-3">
        <div class="d-flex">
            <img th:src="@{/img/people.svg}" class="d-block mx-auto"
                 width="30">
            <p class="p-1 my-3 text-center" th:text="#{organisation.change_masters}"></p>
        </div>
    </div>

    <div class="select-utility-redactor option d-flex container col-6 my-3">
        <div class="d-flex">
            <img th:src="@{/img/receipt-cutoff.svg}" class="img-fluid"
                 width="30">
            <p class="p-1 my-3 text-center" th:text="#{organisation.change_services}"></p>
        </div>
    </div>

    <div class="select-time-redactor option d-flex container col-6 my-3">
        <div class="d-flex">
            <img th:src="@{/img/clock.svg}" class="img-fluid"
                 width="30">
            <p class="p-1 my-3 text-center" th:text="#{organisation.change_schedule}"></p>
        </div>
    </div>

    <div class="select-change-organisation option d-flex container col-6 my-3">
        <div class="d-flex">
            <img th:src="@{/img/gear.svg}" class="img-fluid"
                 width="30">
            <p class="p-1 my-3 text-center" th:text="#{organisation.change}"></p>
        </div>
    </div>
</th:block>
</body>
</html>