<!DOCTYPE html>
<html lang="en">
<body>
<th:block th:fragement="body">
    <div class="d-flex container col-6 justify-content-center d-flex navbar sticky-top fixed-top"
         style="background-color: rgb(255, 255, 255)"
    >
        <div class="col-1 my-auto mx-auto">
            <img th:src="@{/img/arrow-left-circle.svg}" class="img-fluid go-back-button"
                 width="24"
                 onclick="goBack()">
        </div>
        <div class="d-flex flex-column col-11">
            <p class="text-center p-2" th:text="#{masters}"></p>
        </div>
    </div>

    <div id="createWorker" class="select-master option d-flex container-fluid col-6 px-0 my-3">
        <div class="d-flex my-3 container">
            <div class="col-1 my-auto mx-auto center-box">
                <img th:src="@{/img/person-plus.svg}" class="d-block mx-auto"
                     width="40">
            </div>
            <div class="worker_info col-10">
                <p class="text-center p-2" th:text="#{master.create}"></p>
            </div>
        </div>
    </div>

    <th:block th:each="worker:${workers}">
        <div th:id="${worker.id}" class="select-master-redactor option d-flex container-fluid col-6 px-0 my-3"
        th:onclick="gotoUpdateWorker([[${worker.id}]])">
            <div class="d-flex my-3 container">
                <div class="col-1 my-auto mx-auto center-box">
                    <img th:src="@{/img/person-circle.svg}" class="d-block mx-auto"
                         width="40">
                </div>
                <div class="worker_info col-10">
                    <p class="master_name" th:text="${worker.firstName + ' ' + worker.lastName}"></p>
                    <p class="master_desc" th:text="${worker.description}"></p>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</body>
</html>