.utility, .option {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.option:hover {
    cursor: pointer;
}

.utility:hover {
    cursor: pointer;
}

.utility-price {
    color: rgb(119, 119, 119);
}

.utility-description {
    color: rgb(154, 164, 196);
}
