.master_desc {
    font-size: 15px;
    color: rgb(179, 179, 179)
}

.worker:hover {
    cursor: pointer;
    opacity: 0.7;
    /*border: 1px solid black;*/
}

.master_name {
    margin-top: -15px;
}

.worker {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}